.container {
    width: 30%;
    display: table;
    margin: 0 auto; 
    text-align: center;
}

form{
    display: grid;
    margin: 40% 0 10% auto;
}

.signup-btn {
    padding: 7px 0;
    margin: 0 50px;
}
