mat-grid-tile {
    background: white;
    cursor: pointer;
  }

  mat-grid-tile:hover {
    background:rgba(0, 0, 0, 0.15);
}

.tile-image {
    width: 100%;
    height: auto;
}

.my-card {
    width: 100%;
    height: 100%;
}

.edit-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
}
.avatar-image {
    background-size: cover;
}
.likes-list {
    display: flex;
    justify-content: flex-start;
}

.liked-user-details {
    margin-left: 10px;
}

.comment-box {
    display: flex;
    justify-content: flex-start;
}

