<h3 
    *ngIf="posts.length === 0 && !isLoading"
style="text-align: center;">No posts available for this user yet!!</h3>

<mat-spinner
    style="margin: auto;"
    diameter= 60
    strokeWidth= 8
    *ngIf="isLoading"
>
</mat-spinner>

<div 
    *ngIf="posts.length > 0 && !isLoading"
    class="posts">
    <mat-grid-list 
        cols="3" rowHeight="2:2" gutterSize="15">
        <mat-grid-tile
        placement="top" [ngbPopover]= popContent  
        triggers="mouseenter:mouseleave" popoverTitle=""
            *ngFor="let post of posts"
            (click)="openPostDetailsDialog(post._id)"
        >
            <img
            class="tile-image"  
            src= {{post.image}} 
            >
            
            <ng-template #popContent>
                <div class="pop-likes-comments">
                    <div class="pop-likes">
                        <mat-icon style="color: red;">favorite</mat-icon>
                        <b>{{post.likedBy.length}}</b>
                    </div>
                    <div class="pop-comments">
                        <mat-icon style="color: blue;">comment</mat-icon>
                        <b>{{post.comments}}</b>
                    </div>
                </div>
            </ng-template>

        </mat-grid-tile>
        <!-- <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile> -->
      </mat-grid-list>
    </div>